<!DOCTYPE html>
<html>
<head>
    
    <title>
        <%= data.title %>
    </title>
    
</head>
<body>
    <h1>
        <%= data.say %>
    </h1>
    <p>
        Powered By <%= data.powered %>
    </p>
</body>
</html>